<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
<div class="navbar-brand">
<div>
    <%= link_to("Blog On Rails", root_path)%>
</div>

<div>
    <%= link_to("Home", root_path)%>

    <%= link_to("New Post", new_post_path)%>
</div>

</nav>
